<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Enter Chatbox</h1>
    </header>
    <main>
    <!-- <h2>Please enter your username</h2> -->

    <form>
        <label for="username">username</label>
        <input type="text" id="username" name="username" placeholder="Username"  value="<%= locals.username %>"autocomplete="off" autofocus required>
        <input type="submit" value="login">
    </form>

    <div class="loginText">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam nulla, recusandae veritatis porro, voluptatibus provident ex reiciendis debitis repellendus tempore suscipit nostrum. Nemo asperiores doloremque corrupti odit?</p>
    </div>
</main>
    <footer>

    </footer>
</body>
</html>